// ************ RESET STYLES ******
html, body, div, h1, h2, h3, h4, h5, h6, main, header, section, footer, p {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "sans-serif";
}
// *********************************

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  min-width: 320px;
  @media screen and (max-width: 576px) {
    padding: 0 0.5rem;
  }
}
.header-container, .filter-container, .description-container {
  width: 100%;
  max-width: 1200px;
  padding: 0.5rem 2rem;
  max-width: 1200px;
  p {
    margin: 0;
  }
}
.header-container {
  margin-top: 3rem;
}
.header-block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  color: black;
  &__data {
    justify-self: end;
  }
  &__title { }
  &__name, &__rating {
    color: gray;
    font-size: 1.125rem;
    padding: 0.5rem 0;
  }
  &__rating {
    justify-self: end;
    color: rgb(47, 189, 47);
    &.negative {
      color: rgba(190, 25, 25, 0.747);
    }
  }
}
.description-container {
  font-size: 1rem;
  &__title {
    color: black;
  }
  &__name{
    color: gray;
    padding: 0.5rem 0;
  }
}
.filter-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 0;
  border-bottom: 1px solid #80808021;
  &__right {
    display: flex;
    align-items: center;
  }
  &__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  color: rgba(128, 128, 128, 0.479);
  &__active {
    border-radius: 8px;
    border: 2px solid #34c158;
    box-shadow: 0 0 4px 1px rgb(107 208 132 / 77%);
    color: black;
    cursor: pointer;
  }
}
.chart-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  .legend-container {
    position: absolute;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 5px;
    background-color: white;
    z-index: 50;
    &__show {
      visibility: visible;
      animation-name: FadeIn;
      animation-duration: 0.3s;
    }
    &__hide {
      visibility: hidden;
      animation-name: FadeOut;
      animation-duration: 0.3s;
    }
    &__right {
      justify-self: end;
      color: black;
    }
    &__left {
      color: gray;
    }
    p {
      text-transform: capitalize;
      margin: 0;
    }
    @media screen and (max-width: 576px) {
      bottom: 5rem;
      top: auto;
    }
  }
}
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.877);
  z-index: 50;
  &__text { 
    margin-top: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: navy;
    animation-name: Opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
.error-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  &__text {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(252, 111, 111);
    margin-bottom: 3rem;
  }
}
.footer-container {
  width: 100%;
  height: 100px;
  padding: 2rem 0;
}
.dash {
  height: 1px;
  width: 0.7rem;
  margin: 0 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

@keyframes FadeIn {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Opacity {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}